<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="PaperCalcDV2Frame">
		<title>PaperCalc 2 Development Version </title>
		<centered>1</centered>
		<size>254,282</size>
		<bg>wxSYS_COLOUR_MENU</bg>
		<font>
			<size>11</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Arial</face>
		</font>
		<id_arg>0</id_arg>
		<object class="wxGridBagSizer" variable="GridBagSizer1" member="yes">
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Label</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<col>0</col>
				<row>0</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
					<label>Label</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<col>0</col>
				<row>5</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
					<label>Label</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<col>1</col>
				<row>2</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label>Label</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<col>1</col>
				<row>1</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
					<label>Label</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<col>0</col>
				<row>4</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
					<content>
						<item>Custom</item>
						<item>Print B1 [ 700 x 1000 ]</item>
						<item>Print B2 [ 500 x 700 ]</item>
						<item>Print B1+ [ 720 x 1020 ]</item>
						<item>Print A1 [ 610 x 860 ]</item>
						<item>Print A2 [ 430 x 610 ]</item>
						<item>A3 [ 297 x 420 ]</item>
						<item>A4 [ 210 x 297 ]</item>
						<item>A5 [ 148 x 210 ]</item>
						<item>Custom 1 [ 480 x 650 ]</item>
						<item>Custom 2 [ 460 x 640 ]</item>
						<item>Custom 3 [ 430 x 610 ]</item>
						<item>Custom 4 [ 450 x 640 ]</item>
						<item>USA-A [215.9 x 279.4]</item>
					</content>
					<handler function="OnSizeSelect" entry="EVT_CHOICE" />
				</object>
				<colspan>4</colspan>
				<col>1</col>
				<row>0</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
					<value>Text</value>
					<handler function="OnSizeChanged" entry="EVT_TEXT" />
				</object>
				<colspan>2</colspan>
				<col>2</col>
				<row>1</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl2" member="yes">
					<value>Text</value>
					<handler function="OnSizeChanged" entry="EVT_TEXT" />
				</object>
				<colspan>2</colspan>
				<col>2</col>
				<row>2</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl3" member="yes">
					<value>Text</value>
					<handler function="OnValuesChanged" entry="EVT_TEXT" />
				</object>
				<colspan>3</colspan>
				<col>1</col>
				<row>4</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="TextCtrl4" member="yes">
					<value>Text</value>
					<handler function="OnValuesChanged" entry="EVT_TEXT" />
				</object>
				<colspan>3</colspan>
				<col>1</col>
				<row>5</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="TextCtrl5" member="yes">
					<value>Text</value>
					<handler function="OnValuesChanged" entry="EVT_TEXT" />
				</object>
				<colspan>3</colspan>
				<col>1</col>
				<row>6</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE2" variable="Choice2" member="yes">
					<content>
						<item>0</item>
						<item>1</item>
						<item>2</item>
						<item>3</item>
					</content>
					<handler function="OnSolve" entry="EVT_CHOICE" />
				</object>
				<col>4</col>
				<row>1</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE3" variable="Choice3" member="yes">
					<content>
						<item>1</item>
						<item>2</item>
						<item>3</item>
						<item>4</item>
					</content>
					<handler function="OnSolve" entry="EVT_CHOICE" />
				</object>
				<col>4</col>
				<row>2</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE5" variable="Choice5" member="yes">
					<content>
						<item>1</item>
						<item>2</item>
					</content>
					<handler function="OnSolve" entry="EVT_CHOICE" />
				</object>
				<col>4</col>
				<row>5</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE6" variable="Choice6" member="yes">
					<content>
						<item>1</item>
						<item>2</item>
					</content>
					<handler function="OnSolve" entry="EVT_CHOICE" />
				</object>
				<col>4</col>
				<row>6</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<colspan>5</colspan>
				<col>0</col>
				<row>3</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
					<label>Label</label>
				</object>
				<col>4</col>
				<row>4</row>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE7" variable="Choice7" member="yes">
					<content>
						<item>1</item>
						<item>2</item>
						<item>3</item>
					</content>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
					<handler function="OnCalcTypeChanged" entry="EVT_CHOICE" />
				</object>
				<col>0</col>
				<row>6</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
					<size>10,-1</size>
				</object>
				<colspan>5</colspan>
				<col>0</col>
				<row>7</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="TextCtrl6" member="yes">
					<value>Text</value>
					<handler function="OnValuesChanged" entry="EVT_TEXT" />
				</object>
				<colspan>3</colspan>
				<col>1</col>
				<row>8</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE4" variable="Choice4" member="yes">
					<content>
						<item>1</item>
						<item>2</item>
						<item>3</item>
						<item>4</item>
					</content>
					<handler function="OnSolve" entry="EVT_CHOICE" />
				</object>
				<col>4</col>
				<row>8</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
					<label>Label</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<col>0</col>
				<row>11</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="TextCtrl7" member="yes">
					<value>Text</value>
					<style>wxTE_READONLY</style>
					<handler function="OnValuesChanged" entry="EVT_TEXT" />
				</object>
				<colspan>3</colspan>
				<col>1</col>
				<row>9</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
					<label>Label</label>
				</object>
				<col>4</col>
				<row>9</row>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
					<label>Label</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<col>0</col>
				<row>9</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
					<label>Label</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<col>0</col>
				<row>10</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="TextCtrl8" member="yes">
					<value>Text</value>
					<handler function="OnValuesChanged" entry="EVT_TEXT" />
				</object>
				<colspan>3</colspan>
				<col>1</col>
				<row>11</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="TextCtrl9" member="yes">
					<value>Text</value>
					<handler function="OnValuesChanged" entry="EVT_TEXT" />
				</object>
				<colspan>3</colspan>
				<col>1</col>
				<row>10</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE8" variable="Choice8" member="yes">
					<content>
						<item>1</item>
						<item>2</item>
					</content>
					<handler function="OnSolve" entry="EVT_CHOICE" />
				</object>
				<col>4</col>
				<row>11</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE9" variable="Choice9" member="yes">
					<content>
						<item>5</item>
						<item>6</item>
						<item>7</item>
						<item>8</item>
					</content>
					<handler function="OnSolve" entry="EVT_CHOICE" />
				</object>
				<col>4</col>
				<row>10</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE10" variable="Choice10" member="yes">
					<content>
						<item>1</item>
						<item>2</item>
						<item>3</item>
					</content>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
					<handler function="OnCostWayChanged" entry="EVT_CHOICE" />
				</object>
				<col>0</col>
				<row>8</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="yes">
			<object class="wxMenu" variable="Menu1" member="yes">
				<label>1</label>
				<object class="wxMenuItem" name="idMenuHistory" variable="MenuItem2" member="yes">
					<label>1</label>
					<accel>F2</accel>
					<handler function="OnHistoryOpened" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSave" variable="MenuItem10" member="yes">
					<label>5</label>
					<handler function="OnSaveSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSolve" variable="MenuItem1" member="yes">
					<label>2</label>
					<accel>Return</accel>
					<handler function="OnSolve" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuUpdate" variable="MenuItem6" member="yes">
					<label>3</label>
					<handler function="OnUpdate" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem3" member="yes">
					<label>4</label>
					<accel>Alt-F4</accel>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>2</label>
				<object class="wxMenuItem" name="idMenuPriceEnabled" variable="MenuItem4" member="yes">
					<label>1</label>
					<accel>F5</accel>
					<handler function="OnCostEnabled" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>3</label>
				<object class="wxMenuItem" name="idMenuLanguageEN" variable="MenuItem7" member="yes">
					<label>1</label>
					<handler function="OnLanguageChanged" entry="EVT_MENU" />
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="idMenuLanguageCZ" variable="MenuItem8" member="yes">
					<label>2</label>
					<handler function="OnLanguageChanged" entry="EVT_MENU" />
					<radio>1</radio>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="yes">
				<label>4</label>
				<object class="wxMenuItem" name="idMenuClear" variable="MenuItem9" member="yes">
					<label>2</label>
					<handler function="OnClear" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem5" member="yes">
					<label>1</label>
					<accel>F1</accel>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
